<nav class="navbar navbar-expand-xl navbar-dark sticky-navbar">
  <a class="navbar-brand">
    <img src="assets/icon.png" width="34" height="34" alt="" style="border-radius: 10%">
    <span style="font-weight: 300; font-size: 1.1em;margin-left: 8px;vertical-align: top">Chia-Dashboard</span>
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenuCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onTabButtonClick()">
            Dashboard
          </button>
        </a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-primary" routerLink="/satellites" routerLinkActive="active" (click)="onTabButtonClick()">
            Satellites
          </button>
        </a>
      </li>
    </ul>
    <div *ngIf="user && user.avatarUrl">
      <img src="{{user.avatarUrl}}" width="30" height="30" style="border-radius: 100%">
    </div>
    <div *ngIf="isAuthenticated" style="padding-right: 8px; padding-top: 8px; padding-bottom: 8px">
      <button type="button" class="btn btn-success" style="margin-left: 10px" (click)="openAddSatelliteModal()">
        + Add
      </button>
      <div class="currency-select-wrapper">
        <select class="custom-select currency-select" [ngModel]="selectedCurrency" (ngModelChange)="setSelectedCurrency($event)">
          <option *ngFor="let currency of currencies" [ngValue]="currency" class="currency-select-option">{{ currency.toUpperCase() }}</option>
        </select>
      </div>
      <button type="button" class="btn btn-secondary" style="margin-left: 10px" (click)="logout()">
        Logout
      </button>
    </div>
    <div *ngIf="!isAuthenticated" style="padding-right: 8px; padding-top: 8px; padding-bottom: 8px">
      <button type="button" class="btn btn-primary" routerLink="/login" routerLinkActive="active" (click)="isMenuCollapsed = true">
        Login
      </button>
    </div>
    <a class="btn btn-light" href="https://www.paypal.me/felixbrucker" role="button" target="_blank" (click)="isMenuCollapsed = true">
      Donate <fa-icon [icon]="faHeart" class="fa" style="color: rgb(219, 97, 162)"></fa-icon>
    </a>
  </div>
</nav>
<app-add-new-satellite-modal></app-add-new-satellite-modal>

