<div style="clear: both;"></div>
<footer style="padding-top: 1em">
  <div style="display: flex; justify-content: center; flex-wrap: wrap">
    <div style="display: flex;">
      <div style="padding-right: 1em; padding-left: 1em">
        <div style="justify-content: space-evenly">
          <span style="font-weight: 300; font-size: larger;">Help</span>
          <hr>
        </div>
        <div style="justify-content: space-evenly">
          <a href="https://docs.foxypool.io/chia-dashboard-satellite/" target="_blank" class="link highlight">
            Documentation
          </a>
          <br>
          <a href="https://discord.gg/gNHhn9y" target="_blank" class="link highlight">
            Discord
          </a>
          <br>
          <a href="https://chiadashboard.statuspage.io" target="_blank" class="link highlight">
            Status
          </a>
        </div>
      </div>
    </div>

    <div style="display: flex;">
      <div style="padding-right: 1em; padding-left: 1em">
        <div style="justify-content: space-evenly">
          <span style="font-weight: 300; font-size: larger;">Links</span>
          <hr>
        </div>
        <div style="display: flex">
          <div style="padding-right: 1em">
            <a href="https://chia.foxypool.io" target="_blank" class="link highlight">
              Chia Pool
            </a>
            <br>
            <a href="https://plot-plan.chia.foxypool.io" target="_blank" class="link highlight">
              Chia Plot Plan
            </a>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex;">
      <div style="padding-left: 1em">
        <div style="justify-content: space-evenly">
          <span style="font-weight: 300; font-size: larger;">Social</span>
          <hr>
        </div>
        <div style="justify-content: space-evenly">
          <a href="https://discord.gg/foxypool" target="_blank">
            <fa-icon [icon]="faDiscord" class="fa highlight"></fa-icon>
          </a>
          <a href="https://t.me/foxypool" target="_blank" style="padding-left: 10px">
            <fa-icon [icon]="faTelegram" class="fa highlight"></fa-icon>
          </a>
          <a href="https://github.com/felixbrucker" target="_blank" style="padding-left: 10px">
            <fa-icon [icon]="faGithub" class="fa highlight"></fa-icon>
          </a>
          <a href="https://www.paypal.me/felixbrucker" target="_blank" style="padding-left: 10px">
            <fa-icon [icon]="faPaypal" class="fa highlight"></fa-icon>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div style="text-align: center; padding-bottom: 4px; padding-top: 1em">
    &copy; 2021-{{currentYear}} Foxy
  </div>
</footer>
