<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5>Farmer ({{satelliteName}})</h5>
    <h5>
      <span [class]="colorClassForSyncStatus">{{status}}</span>
      <ng-template #settingsContent>
        <div class="mb-1">
          Response time color scheme:
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="responseTimeColorSchemeStrict" name="responseTimeColorSchemeStrict" class="custom-control-input" [(ngModel)]="responseTimeColorScheme" [value]="ResponseTimeColorScheme.strict">
          <label class="custom-control-label" for="responseTimeColorSchemeStrict">Strict</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="responseTimeColorSchemeRegular" name="responseTimeColorSchemeRegular" class="custom-control-input" [(ngModel)]="responseTimeColorScheme" [value]="ResponseTimeColorScheme.regular">
          <label class="custom-control-label" for="responseTimeColorSchemeRegular">Regular</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="responseTimeColorSchemeRelaxed" name="responseTimeColorSchemeRelaxed" class="custom-control-input" [(ngModel)]="responseTimeColorScheme" [value]="ResponseTimeColorScheme.relaxed">
          <label class="custom-control-label" for="responseTimeColorSchemeRelaxed">Relaxed</label>
        </div>
      </ng-template>
      <fa-icon
        class="ml-2"
        [icon]="faEllipsisV"
        size="sm"
        style="cursor: pointer"
        [ngbPopover]="settingsContent"
        [autoClose]="'outside'"
      ></fa-icon>
    </h5>
  </div>
  <div class="card-body farmer-card">
    <div echarts [options]="chartOptions" [merge]="chartUpdateOptions" theme="default" class="farming-info-chart"></div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-between">
          <div class="card-font-size" placement="bottom" ngbTooltip="The average harvester response time in milliseconds/seconds">Average RT</div>
          <div class="card-font-size font-weight-bold" [class]="getColorClassForResponseTime(averageHarvesterResponseTime)" style="cursor: pointer" (click)="toggleIsShowingResponseTimeInMs()">{{averageHarvesterResponseTimeFormatted}}</div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-between">
          <div class="card-font-size" placement="bottom" ngbTooltip="The worst harvester response time in milliseconds/seconds">Worst RT</div>
          <div class="card-font-size font-weight-bold" [class]="getColorClassForResponseTime(worstHarvesterResponseTime)" style="cursor: pointer" (click)="toggleIsShowingResponseTimeInMs()">{{worstHarvesterResponseTimeFormatted}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <span class="dot"
            [attr.green]="lastUpdatedState === 0 ? true : null"
            [attr.orange]="lastUpdatedState === 1 ? true : null"
            [attr.red]="lastUpdatedState === 2 ? true : null">
      </span>
      Last updated {{lastUpdatedBefore}}</small>
  </div>
</div>
