<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5>Farm Summary</h5>
    <h5 [class]="colorClassForSyncStatus">{{status}}</h5>
  </div>
  <div class="card-body card-body-with-title">
    <div class="row">
      <div [ngClass]="columnClassesFirstRows">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxxl-24">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Raw Total Capacity</div>
              <div class="card-font-size fw-bold">{{formattedRawCapacity}}</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxxl-24">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Effective Total Capacity</div>
              <div class="card-font-size fw-bold">{{formattedEffectiveCapacity}}</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxxl-24">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Network space</div>
              <div class="card-font-size fw-bold">{{networkSpace}}</div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="columnClassesFirstRows">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxxl-24">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Total Plots</div>
              <div class="card-font-size fw-bold">{{plotCountString}}</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxxl-24">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Est. time to win</div>
              <div class="card-font-size fw-bold">{{estimatedTimeToWinInHours}}</div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="columnClassesLastRow">
        <div class="row">
          <div [ngClass]="columnChildrenClassesLastRow">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Daily Reward</div>
              <div class="card-font-size fw-bold" placement="bottom" ngbTooltip="{{dailyRewardFiat}}">{{dailyRewardXch}}</div>
            </div>
          </div>
          <div [ngClass]="columnChildrenClassesLastRow">
            <div class="d-flex justify-content-between">
              <div class="card-font-size">Last block won</div>
              <div class="card-font-size fw-bold">
                <span *ngIf="lastHeightFarmedOrNull">
                  <a href="https://alltheblocks.net/chia/height/{{lastHeightFarmedOrNull}}" target="_blank" style="color: #cfd0d1">{{lastHeightFarmedOrNull}}</a>
                  ({{lastHeightFarmedDuration}})
                </span>
                <span *ngIf="!lastHeightFarmedOrNull">N/A</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
