<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5>Harvester ({{satelliteName}})</h5>
    <span *ngIf="harvester.chiaVersion">
      <img src="assets/icon-transparent.png" height="18" alt="">
      <small class="text-muted">v{{harvester.chiaVersion}}</small>
    </span>
  </div>
  <div class="card-body card-body-with-title">
    <h5 class="card-title">
      Status: <span [class]="colorClassForSyncStatus">{{status}}</span>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{plotCountString}}
    </h6>
    <div class="d-flex justify-content-between">
      <div class="card-font-size">Raw Capacity</div>
      <div class="card-font-size font-weight-bold">{{formattedRawCapacity}}</div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="card-font-size">Effective Capacity</div>
      <div class="card-font-size font-weight-bold">{{formattedEffectiveCapacity}}</div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="card-font-size">Est. time to win</div>
      <div class="card-font-size font-weight-bold">{{estimatedTimeToWinInHours}}</div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <span class="dot"
            [attr.green]="lastUpdatedState === 0 ? true : null"
            [attr.orange]="lastUpdatedState === 1 ? true : null"
            [attr.red]="lastUpdatedState === 2 ? true : null">
      </span>
      Last updated {{lastUpdatedBefore}}</small>
  </div>
</div>
