<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5>Wallet ({{satelliteName}})</h5>
    <span *ngIf="wallet.chiaVersion">
      <img src="assets/icon-transparent.png" height="18" alt="">
      <small class="text-muted">v{{wallet.chiaVersion}}</small>
    </span>
  </div>
  <div class="card-body card-body-with-title">
    <h5 class="card-title">Status: <span [class]="colorClassForSyncStatus">{{status}}</span></h5>
    <h6 class="card-subtitle mb-2 text-muted">Synced to {{syncedHeight}}</h6>
    <div *ngFor="let wallet of wallets; trackBy: trackBy" class="d-flex justify-content-between">
      <ng-template #walletActionsContent>
        <button (click)="hideWallet(wallet)" class="btn btn-dark">
          <fa-icon [icon]="faEyeSlash" class="fa toggle-hidden-icon hidden"></fa-icon>
          Hide
        </button>
      </ng-template>
      <div class="card-font-size" style="cursor: pointer" [ngbPopover]="walletActionsContent" popoverClass="bg-dark" [autoClose]="'outside'">
        {{wallet.name}}
      </div>
      <div
        *ngIf="wallet.isChiaWallet"
        class="card-font-size"
        [class.font-weight-bold]="wallets.length === 1"
        placement="bottom"
        ngbTooltip="{{getBalanceFiat(wallet)}}"
      >
        {{getRoundedBalance(wallet.balance.total)}} XCH
      </div>
      <div
        *ngIf="!wallet.isChiaWallet"
        class="card-font-size"
        [class.font-weight-bold]="wallets.length === 1"
      >
        {{getRoundedBalance(wallet.balance.total)}}
      </div>
    </div>
    <hr *ngIf="wallets.length > 1">
    <div *ngIf="wallets.length > 1" class="d-flex justify-content-between">
      <div class="card-font-size font-weight-bold">Total</div>
      <div class="card-font-size font-weight-bold" placement="bottom" ngbTooltip="{{totalBalanceFiat}}">{{totalBalanceRounded}} XCH</div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <span class="dot"
            [attr.green]="lastUpdatedState === 0 ? true : null"
            [attr.orange]="lastUpdatedState === 1 ? true : null"
            [attr.red]="lastUpdatedState === 2 ? true : null">
      </span>
      Last updated {{lastUpdatedBefore}}</small>
  </div>
</div>
