<div class="row justify-content-center" style="padding-top: 2rem">
  <div class="card col-12 col-md-10 col-lg-8 col-xl-6 col-xxxl-9">
    <div class="card-body">
      <h5 class="card-title">Share your dashboard</h5>
      <div style="padding-bottom: 0.5rem">Share your dashboard with friends</div>
      <div *ngIf="user?.shareKey">
        <div class="input-group">
          <input type="text" class="form-control" [value]="shareUrl" readonly disabled>
          <div class="input-group-text"
               ngbTooltip="Copy"
               ngxClipboard
               [cbContent]="shareUrl"
               style="cursor: pointer">
            <fa-icon [icon]="faCopy"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end" style="background-color: initial">
      <button (click)="toggleShared()" class="btn btn-light">
        {{user?.shareKey ? 'Disable sharing' : 'Share dashboard'}}
      </button>
    </div>
  </div>
</div>
<div class="row justify-content-center" style="padding-top: 1rem">
  <div class="card col-12 col-md-10 col-lg-8 col-xl-6 col-xxxl-9">
    <div class="card-body">
      <h5 class="card-title">Settings</h5>
      <div class="form-check form-checkbox">
        <input type="checkbox" class="form-check-input" id="hideDismissedUpdateNotifications" [(ngModel)]="hideDismissedUpdateNotifications">
        <label class="form-check-label" for="hideDismissedUpdateNotifications">Hide dismissed update notifications</label>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" style="padding-top: 1rem">
  <div class="card col-12 col-md-10 col-lg-8 col-xl-6 col-xxxl-9">
    <div class="card-body">
      <h5 class="card-title">Disabled wallets</h5>
      <div *ngFor="let disabledWallets of disabledWalletsByFingerprint | keyvalue">
        <h6>
          Wallets for fingerprint {{disabledWallets.key}}
        </h6>
        <ul class="list-group">
          <li class="list-group-item dark-theme d-flex justify-content-between" *ngFor="let disabledWallet of disabledWallets.value">
            {{ disabledWallet.name}}
            <button (click)="removeDisabledWallet(disabledWallets.key, disabledWallet)" class="btn btn-dark">
              <fa-icon [icon]="faEye" class="fa toggle-hidden-icon"></fa-icon>
              Show again
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
